* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
}

h1 {
  margin: 0;
  padding-top: 5px;
}

p {
  margin: 0;
  padding-top: 10px;
  width: 50vw;
}

p span {
  font-weight: bold;
  font-style: italic;
}

img {
  padding-top: 15px;
  display: block;
  max-height: 100vh;
  max-width: 30vw;
  border-radius: 30px;
  /* animation-name: slideInLeft; */
}

.breed-select {
  display: none;
}

/* @keyframes slideInLeft {
  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(0);
  }
} */



.cat-info {
  display: flex;
}


.cat-description {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  padding-left: 20px;

}